Package: SumoManager
Version: 1.0.0
Architecture: all
Maintainer: Silver Kuusik <silver@robokoding.com>
Homepage: https://www.robokoding.com/
Description: Update the SumoFirmware of the RoboKoding's SumoRobot
