QWidget {
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: Orbitron;
    background-color: #242943;
}

QLabel::a {
    text-decoration: none;
    border-bottom: dotted 1px;
}

QPushButton {
    height: 2em;
    padding-top: 2px;
    border: 2px solid white;
    background: transparent;
}

QPushButton:hover {
    color: #ffd500;
    border: 2px solid #ffd500;
}