[Desktop Entry]
Type=Application
Name=SumoManager
GenericName=SumoManager
Comment=Update the SumoFirmware of the RoboKoding's SumoRobot
Exec=/usr/bin/sumomanager
Icon=sumologo
Terminal=false
Categories=Development;Electronics;
Keywords=robotics;electronics;microcontroller;
